.Name_app {
  color: #fff;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.64);
  font-family: "IBM Plex Sans";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Register::-webkit-scrollbar {
  display: none;
}
