#main {
    background: #20002E;
    padding: 40px 40px 0px 40px;
    overflow: hidden;
}

#main>h1 {
    padding: 10px;
    color: #FFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.64);
    font-family: "IBM Plex Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#innerFrame {
    display: flex;
    background: #2D0040;
    padding: 40px;
}

#leftSideDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#leftSideDiv>h1 {
    color: #FFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.64);
    font-family: "IBM Plex Mono";
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 108px;
}

#leftSideDiv>p {
color: #FFF;
font-family: "IBM Plex Mono";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

#btnDiv{
    width: 200px;
    display: flex;
    justify-content: center;
}
#rightSideDiv>img{
width: 400px;
height: 400px;
transform: rotate(-62.013deg);

}