

#backgroundAppear{
    position: absolute;
    background: #FC9A0A;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    right: 0;
    top: 100%;
    left: 0;
    transition: 0.5s;
    z-index: 5;
}

#color_btn{

    position: relative;
    border-radius: 8px;
    padding: 3px 5px;
    margin: 5px 3px;
    border: 0px;
    overflow: hidden;
}

#color_btn:hover #backgroundAppear{
    top: 0;
}

#color_btn>h6{
    position: relative;
    z-index: 10;
}